/*font-family: 'Alegreya Sans', sans-serif;*/

body{
    font-family:'Alegreya Sans', sans-serif;
    font-size: 17px;
}

header{
    margin: 0.5rem 1rem 2rem 1rem;
    
}
section{
    margin-bottom:3.5rem;
}
.space-for-sticky-menu{
    position: relative;
    top: -260px;
}
.reference{
    background-color: rgb(212, 211, 211);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.reference-img{
    width:100px;
    height:auto;
    margin:1rem 0.5rem;
}
.reference-img-no-logo{
    width:110px;
    height:25px;
}
.navbar{
    background-color: white;
    padding:1rem;
    margin-bottom:2rem;
}
.navbar-brand{
    font-size: 17px;
}
.about-us-h2{
    background-image: url('images/shorter-arrow.png');
    background-repeat: no-repeat;
    background-position:-15px 108%;
    background-size: 37%;
}

.about-us-text-background{
    background-color: rgba(212, 211, 211, 0.911);
    width:90%;
    padding: 0.5rem;
    margin:0.5rem;
}
.about-us-background{
    padding-top:0.5rem;
    background-image: url('images/background-foto.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.about-us-text{
    font-size:20px;
}
.about-us-img-text-styling{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-img{
    max-width:200px;
    max-height:auto;
}
.text{
    text-align: justify;
    text-justify: inter-word;
}
.contacts-h2{
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position:-15px 104%;
    background-size: 38%;
}
.arrow-down{
    margin-top:0.25rem;
    height:40px;
    width:auto;
    border-radius: 10%;
}
.icon-image{
    width:20px;
    height:auto;
}
.contacts-links{
    color:black;
    text-decoration: none;
}
.contacts-links:hover{
    text-decoration: underline;
}

.footer{
    padding:1rem;
    background-color: rgb(212, 211, 211);
}

@media (min-width:325px){
    .arrow-down{
        margin-top:1rem;
    }
}
@media (min-width:400px){
    .about-us-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 116%;
        background-size: 27%;
    }
    .contacts-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 117%;
        background-size: 30%;
    }
    .reference{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .reference-img{
        width:150px;
        height:auto;
    }
    .reference-img-no-logo{
        width:150px;
        height:35px;
    }
}
@media (min-width:576px){
    .about-us-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 104%;
        background-size: 25%;
    }
    .contacts-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 117%;
        background-size: 28%;
    }
    .about-us-img{
        max-width:400px;
        max-height:auto;
    }
}
@media (min-width:768px) {
    .about-us-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 108%;
        background-size: 20%;
    }
    .contacts-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 115%;
        background-size: 22%;
    }
    .about-us-background{
        background-image: url('images/background-foto.jpg');
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .about-us-text-background{
       width:80%;
       margin: 3rem 4rem;
    }
    .about-us-img-text-styling{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom:2rem;
    }
    .about-us-styling-reverse{
        flex-direction: row-reverse;
    }
    .about-us-img{
        max-width:300px;
        max-height:auto;
        margin-right:0.5rem;
    }
    .about-us-img-reverse{
        margin-right:0;
        margin-left:1rem;
    }
    .navbar-brand{
        font-size: 22px;
    }
    header{
        margin: 1rem 1rem 2rem 1rem;
        
    }
    body{
        font-size: 20px;
    }
    .about-us-text{
        font-size:23px;
        margin: 2rem 4rem;
    }
    .reference-img{
        width:160px;
        height:auto;
    }
}


@media (min-width:992px) {
    .space-for-sticky-menu{
        top: -120px;
    }
    .right-part-menu{
        display:flex;
        justify-content: end;
    }
    .undreline-arrow{
        background-image: url('images/arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 105%;
        background-size: 75%;
    }
    .about-us-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 102%;
        background-size: 13%;
    }
    .contacts-h2{
        background-image: url('images/shorter-arrow.png');
        background-repeat: no-repeat;
        background-position:-15px 110%;
        background-size: 15%;
    }
    .nav-link{
        font-size: 22px;
    }
    .about-us-text{
        font-size:30px;
        margin: 3rem 5rem;
    }
    .about-us-text-background{
        width:80%;
    }
    .about-us-img{
        max-width:400px;
        max-height:auto;
        margin-right:1rem;
    }
    
    .arrow-down{
        margin-top:1rem;
        height:70px;
        width:auto;
        border-radius: 10%;
    }
    .reference{
        flex-wrap: nowrap;
    }
    .reference-img{
        width:170px;
        height:auto;
        padding-left:2rem;
    }
}
@media (min-width:1200px){
    .reference-img{
        width:210px;
        height:auto;
    }
}


